.container {
    --primary-color: rgba(92, 185, 237, 255);
    --secondary-color: white;
    --background-color: rgba(246, 246, 247, 255);
    min-height: 100vh;
    background: var(--primary-color);
    text-align: center;
    padding: 4rem;
}

.form-wrapper {
    width: 25%;
    border: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    margin: auto;
}

.tabs {
    padding: 1.5rem 0 0 0;
}

.tabs button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(96, 98, 97);
}
.tabs .active {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    color: black;
}

.tabs .active::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    border-bottom: 1px solid red;
}

.form {
    padding: 1rem 0 0 0;
}

.icon img {
    margin: 2rem;
    width: 30%;
}

.input-group input {
    background: rgba(246, 246, 247, 255);
    border: none;
    padding: 1rem;
    text-align: center;
    margin: 10px 0px;
    width: 60%;
    font-size: 20px;
}
.input-group input:focus {
    outline: none;
}

.auth-btn {
    padding: 1rem;
    margin: 15px auto;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    width: 30%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    font-size: 16px;
    cursor: pointer;
}

.form-footer {
    background: var(--background-color);
    padding: 2rem;
    border-radius: 10px;
}

.fp-btn {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(96, 98, 97);
}
